ul, li {
    all: unset;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.photograph-header h2.photographer-card {
    font-size: 4rem;
    margin: 0;
}
  
.photograph-header h3.photographer-card {
    font-size: 1.5rem;
    margin: 0;
}
  
.photograph-header p.photographer-card {
    font-size: 1.125rem;
    margin: 0;
    margin-top: 16px;
}

.photograph-album {
    margin: 9px 100px 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

form#photograph-filter-form {
    display: flex;
    align-items: center;
}

form#photograph-filter-form label {
    font-size: 1.125rem;
    font-weight: 700;
    margin-right: 25px;
}

form#photograph-filter-form .photograph-filter-container {
    position: relative;
    z-index: 5;
    min-height: 60px;
    min-width: 170px;
}

form#photograph-filter-form .photograph-filter-container .filter-options, button#photograph-filter {
    display: flex;
    cursor: pointer;
    background: var(--background-color-secondary);
    color: var(--text-color-tertiary);
    min-width: 170px;
}

form#photograph-filter-form .photograph-filter-container .filter-options {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
    overflow: hidden;
}

button#photograph-filter {
    font-family: "DM Sans", sans-serif;
    border: none;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
    z-index: 3;
}

form#photograph-filter-form .photograph-filter-container .filter-options > li {
    padding: 0 10px;
}

form#photograph-filter-form .photograph-filter-container .filter-options > li, button#photograph-filter {
    order: 2;
    position: relative;
}

button#photograph-filter[aria-expanded="false"] > svg {
    transform: rotate(180deg);
}

form#photograph-filter-form .photograph-filter-container .filter-options > li {
    display: none;
}

.photograph-filter-container {
    outline: none;
}

form#photograph-filter-form .photograph-filter-container .filter-options > li:focus,
form#photograph-filter-form .photograph-filter-container:focus button#photograph-filter,
form#photograph-filter-form .photograph-filter-container .filter-options > li:hover,
form#photograph-filter-form button#photograph-filter:hover,
button.contact_button:hover, button.contact_button:focus {
    outline: none;
    background: var(--background-color-secondary-focus);
}

form#photograph-filter-form .photograph-filter-container .filter-options > li[aria-selected="true"] {
    order: 1;
}

form#photograph-filter-form .photograph-filter-container .filter-options > li > span {
    font-weight: 700;
    font-size: 1.125rem;
    padding: 20px 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

form#photograph-filter-form .photograph-filter-container .filter-options > li:not(.selected) > span {
    border-top: 1px solid var(--background-color-primary);
}

form#photograph-filter-form .photograph-filter-container.active .filter-options > li {
    display: block;
}

form#photograph-filter-form .photograph-filter-container select {
    padding: 20px;
    padding-right: 60px;
    z-index: -2;
}

/** Photograph album style **/

.photograph-album-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(10%, 350px));
    gap: 50px;
    justify-content: space-between;
    margin-top: 40px;
}

.photograph-album-content img, .photograph-album-content video {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photograph-album-item .photograph-album-item-description {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.photograph-album-item .photograph-album-item-description h2 {
    margin: 0 auto 0 0;
}

.photograph-album-item .photograph-album-item-description p {
    color: var(--background-color-secondary);
    font-weight: 500;
    margin: 0 4px 0;
    font-size: 1.5rem;
}

.photograph-album-item .photograph-album_like-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 0;
    color: var(--background-color-secondary);
}

/** Modal style **/

.modal {
    display: none;
    position: fixed;
    background-color: var(--background-color-primary);
    top: 0;
    z-index: 99;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
    flex-direction: column;
}

.modal .modal-content {
    margin: auto;
    position: relative;
}

#contact_modal .modal-content {
    background-color: #DB8876;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    border-radius: 5px;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 36px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#lightbox_modal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#lightbox_modal button, #lightbox_modal a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color-secondary);
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 100%;
    transition: background-color 0.1s ease-in-out;
}
#lightbox_modal button {
    padding: 12px;
}
#lightbox_modal a {
    padding: 4px;

}

#lightbox_modal button:hover, #lightbox_modal a:hover {
    background-color: rgba(0, 0, 0, 0.2);
} 

.lightbox_modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.lightbox_modal-picture-navigation {
    display: flex;
    align-items: center;
}

.lightbox_modal-picture-navigation img {
    display: block;
    width: calc(750px * calc(1050 / 900));
    height: 750px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 20px;
}

.lightbox_modal-picture-navigation .picture-nav.previous-picture {
    transform: rotate(-90deg);
}
.lightbox_modal-picture-navigation .picture-nav.next-picture {
    transform: rotate(90deg);
}

.lightbox_modal-picture-title {
    margin: 0;
}
