@import url("_index.css");
@import url("_photographer.css");

:root {
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #901C1C;
    --background-color-secondary-focus: #700303;
    --background-color-tertiary: #DB8876;
    --title-color-primary: #D3573C;
    --title-color-secondary: #901C1C;
    --text-color-primary: #000000;
    --text-color-secondary: #757575;
    --text-color-tertiary: #FFFFFF;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
body > header {
    height: 90px;
    max-width: 1440px;
}

header, main {
    max-width: 1440px;
    margin: auto;
}

body.modal-open {
    overflow: hidden;
}

h1 {
    color: var(--title-color-secondary);
    margin-right: 100px;
}

.logo img {
    height: 50px;
    margin-left: 100px;
}

img {
    color: red;
}

button {
    font-family: "DM Sans", sans-serif;
}